@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

/* MAIN LAYOUT */

body {
    margin: 0;
    font-family: "Oxygen", sans-serif;
    background-color: rgb(210, 208, 208);
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.contact-left,
.left {
    background-size: cover;
    width: max(40vw, 350px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.left {
    background-image: url("../images/outdoor-run.jpg");
}

.left h1 {
    font-size: 50px;
    text-decoration: 4px solid overline;
}

.sub-logo {
    font-style: italic;
}

.translucent {
    background-color: rgba(124, 124, 124, 0.35);
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.top {
    height: 40vh;
    display: flex;
    align-items: flex-end;
}

.bottom {
    height: 60vh;
}

.right {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-about-header,
.header {
    height: 10vh;
    background-color: rgb(169, 168, 168);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* INVENTORY / MAIN SCREEN */

@media (max-width: 800px) {
    .inventory-table,
    .parts,
    .products,
    .header {
        display: none;
    }
}

.inventory-table,
.add-item{
    display: flex;
    justify-content: space-evenly;
}

.add-item {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    letter-spacing: 1px;
    font-size: 1rem;
    width: 50vw;
    overflow: scroll;
}

.inventory-table {
    width: 100%; /* Adjust width as needed */
    max-height: 176px; /* Maximum height */
    overflow: auto; /* Initially set to auto */
}

th {
    background-color: rgb(210, 208, 208);
    font-family: "Oxygen:wght@300", sans-serif;
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(210, 208, 208);
}

tr:nth-child(odd) td {
    background-color: rgb(250,250,250);
}

a:link, a:visited {
    color: black;
}

.parts,
.products{
    height: 45vh;
    padding-left: 30px;
    padding-right: 30px;
}

/* ABOUT PAGE */

@media (max-width: 926px) {
    .about-content p,
    .about-photo,
    #contact {
        display: none;
    }
}

.about-photo {
    width: max(450px);
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    font-size: 18px;
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 60vh
}

.about-content,
.about-image {
    padding-left: 30px;
    padding-right: 30px;
}

/* LOGIN PAGE */

.login-box h1 {
    font-size: 50px;
    text-decoration: 4px solid overline;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    background-image: url("../images/night.jpg");
    background-size: cover;
}

.login-header {
    background-color: rgb(169, 168, 168);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.login-content {
    height: 90vh;
    margin-top: 80px;
}

.login-box {
    width: 500px;
    background-color: rgba(169, 168, 168, 0.45);
    /* color: white; */
    border-radius: 20px;
    padding: 30px 40px;
}

.input input {
    width: 100%;
    height: 100%;
    background: rgba(210, 208, 208, 0.15);
    border: 2px solid rgba(225, 225, 225, 0.35);
    border-radius: 40px;
    font-size: 23px;
    text-align: center;
    margin-bottom: 20px;
}

#forget {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.display-alert {
    text-decoration: underline;
    cursor: pointer;
}

.button,
.test-button {
    width: 25%;
    height: 40px;
    border-radius: 40px;
    border-color: rgba(0, 0, 0, .45);
    background:rgba(210, 208, 208, 0.95);
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.test-drive {
    font-size: 22px;
    margin-top: 5px;
}

/* PRODUCT FORM / PARTS FORM */

.product-form,
.parts-form,
.purchase-confirmation {
    margin-left: 25px;
}

.back-to-main {
    margin-top: 30px;
}

/* CONTACT PAGE */
@media (max-width: 825px) {
    .contact-content p,
    .contact-photo {
        display: none;
    }
}

.contact-left {
    background-image: url("../images/beach-run.jpg");
}

.contact-photo {
    height: max(400px);
    margin-top: 15px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 30vh;
    font-size: 16px;
}

.contact-image {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 70vh
}

.contact-content,
.contact-image {
    padding-left: 30px;
    padding-right: 30px;
}
