<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Alpine Running About Home</title>
</head>
<body>
<div class="container">
    <div class="left">
        <div class="top">
            <div class="translucent">
                <h1 >Alpine Running Depot</h1>
                <h4 class="sub-logo">Your one-stop shop for trail running gear</h4>
            </div>
        </div>
        <div class="bottom"></div>
    </div>
    <div class="right">
        <div class="contact-about-header">
            <div>
                <a th:href="@{/mainscreen}" class="btn btn-primary btn-sm mb-3">Inventory</a>
            </div>
            <div>
                <a th:href="@{/contact}" id="contact">Contact Us</a>
            </div>
            <div>
                <a th:href="@{/login}" class="btn btn-primary btn-sm mb-3">Login</a>
            </div>
        </div>
        <div class ="about-content">
            <p>
                Introducing Alpine Running Depot, your premier supplier for trail running gear. As the go-to source for running stores nationwide,
                we offer a diverse range of high-quality products tailored to meet the needs of trail runners of all levels.
                From performance-driven apparel and essential accessories, to replacement parts to fix items damaged after hundreds of miles on the trails,
                our extensive inventory ensures that your customers have access to the best gear for conquering any terrain.
                With a dedication to excellence and a passion for adventure,
                Alpine Running Depot is committed to equipping your store with the tools and expertise needed to support runners on their trail-blazing journeys.
            </p>
        </div>
        <div class="about-image">
            <img class="about-photo" src="/images/trail-run.jpg" alt="a man running in a field">
        </div>
    </div>
</div>
</body>
</html>