<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="parts-form">
    <h1>Replacement Part Detail</h1>
    <form action="#" th:action="@{/showFormAddOutPart}" th:object="${outsourcedpart}" method="POST">
        <!-- Add hidden form field to handle update -->
        <p><input type="hidden" th:field="*{id}"/></p>

        <p><input type="text" th:field="*{name}" placeholder="Name"/></p>

        <p><input type="text" th:field="*{price}" placeholder="Price"/></p>
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

        <p><input type="text" th:field="*{inv}" placeholder="Inventory"/></p>
        <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>

        <!-- For minInventory -->
        <p><input type="text" th:field="*{minInventory}" placeholder="Min"/></p>
        <p th:if="${#fields.hasErrors('minInventory')}" th:errors="*{minInventory}">Minimum Inventory Error</p>

        <!-- For maxInventory -->
        <p><input type="text" th:field="*{maxInventory}" placeholder="Max"/></p>
        <p th:if="${#fields.hasErrors('maxInventory')}" th:errors="*{maxInventory}">Maximum Inventory Error</p>

        <p><input type="submit" value="Submit" /></p>
    </form>


    <div>
        <a class="back-to-main" href="http://localhost:8080/">Back to main inventory</a>
    </div>
</div>
</body>
</html>